<header>
    <div class = "navbar">
                 <nav class = "black lighten-2">
                  <div class="container">
                   <div class="nav-wrapper">
                     <a href="/" class="brand-logo" style="font-weight: bold;">Nikunj Dobariya</a>
                     <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" >menu</i></a>
                     <ul class="right hide-on-med-and-down " id = "navList">
                        <li class="hoverable"><a href="/" style="font-size:18px">Home</a></li>
                        <li class="hoverable"><a href="{{site.baseurl}}docs/nikunj_dobariya.pdf" style="font-size:18px" target="_blank">Resume</a></li>
                        
                     </ul>
                    </div>
                   </div>
                  </nav>
            </div>

            <ul class="sidenav black lighten-2" id = "mobile-demo">
               <li class="hoverable"><a href="/" class = "white-text" style="font-size:18px">Home</a></li>
               <li class="hoverable"><a class = "white-text" href="{{site.baseurl}}docs/nikunj_dobariya.pdf" style="font-size:18px" target="_blank">Resume</a></li>
             </ul>
</header>
